.header {
    background-color: #ccc;
    color: #333;
}

.main-drop-down {
    color: #333;
    text-align: left;
    display: block;
    width: 200px;
}

.header p {
    color: #fff;
    text-align: left;
}

.main-menu {
    width: 200px;
}